.NavItem {
    text-align: center;
    padding: 10px;
    max-width: 150px;
    text-decoration: none;
    color: black;
    height: 40px;
}

.NavItem:hover {
    border-bottom: 10px solid  rgb(0, 153, 255);
    font-weight: bold;
}

.NavItem a {
    text-decoration: none;
    color: black;
}